<div class="container">
	<h2>Entries</h2>
	<table class="table">
		<thead>
			<tr>
				<th>User</th>
				<th>Date</th>
				<th>Views</th>
			</tr>
		</thead>
		<tbody>
			<% @entries.each do |entry| %>
				<tr>
					<td><%= link_to entry.user.name, entry %></td>
					<td><%= entry.created_at.strftime('%d/%m/%Y') %></td>
					<td><%= entry.impressions_count.to_i %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>