<div class="container-fluid">
	<%= render 'stage' %>
</div>
<div class="container">
	<h2>How To Play</h2>
	<p class="lead">It’s Easy!</p>
	<h3>Step 1</h3>
	<p>Press Record, the track will start playing.</p>
	<h3>Step 2</h3>
	<p>Press the following keys to change the lighting:</p>
	<ul class="list-inline" style="background: #000; border-radius: 2px; padding: 15px;">
		<li><span class="text-danger" style="font-weight: 900;">r</span> = Red Pan</li>
		<li><span class="text-success" style="font-weight: 900;">g</span> = Green Pan</li>
		<li><span class="text-primary" style="font-weight: 900;">b</span> = Blue Pan</li>
		<li><span class="text-warning" style="font-weight: 900;">y</span> = Yellow Pan</li>
		<li><span style="font-weight: 900;">w</span> = White Pan</li>
	</ul>
	<ul class="list-inline" style="background: #000; border-radius: 2px; padding: 15px;">
		<li><span class="text-danger" style="font-weight: 900;">R</span> = Red Circle</li>
		<li><span class="text-success" style="font-weight: 900;">G</span> = Green Circle</li>
		<li><span class="text-primary" style="font-weight: 900;">B</span> = Blue Circle</li>
		<li><span class="text-warning" style="font-weight: 900;">Y</span> = Yellow Circle</li>
		<li><span style="font-weight: 900;">W</span> = White Circle</li>
	</ul>
	<ul class="list-inline" style="background: #000; border-radius: 2px; padding: 15px;">
		<li><span style="font-weight: 900;">a</span> = Blinders</li>
		<li><span style="font-weight: 900;">s</span> = Strobe</li>
		<li><span style="font-weight: 900;">d</span> = Blinders</li>
	</ul>
	<ul class="list-inline" style="background: #000; border-radius: 2px; padding: 15px;">
		<li><span style="font-weight: 900;">o</span> = Lights Off / On</li>
		<li><span style="font-weight: 900;">p</span> = Pause / Play</li>
	</ul>
	<h3>Step 3</h3>
	<p>Submit your lighting design and share it on social!</p>
</div>