<div class="container-fluid">
	<%= render 'stage' %>
</div>
<div class="container">
	<h2>How To Play</h2>
	<p class="lead">It’s Easy!</p>
	<h3>Step 1</h3>
	<p>Press Record, the track will start playing.</p>
	<h3>Step 2</h3>
	<p>Press the following keys to change the lighting:</p>
	<ul class="list-inline" style="background: #000; border-radius: 2px; padding: 15px;">
		<li><span class="text-danger" style="font-weight: 900;">R</span> = Red</li>
		<li><span class="text-success" style="font-weight: 900;">G</span> = Green</li>
		<li><span class="text-primary" style="font-weight: 900;">B</span> = Blue</li>
		<li><span class="text-warning" style="font-weight: 900;">Y</span> = Yellow</li>
		<li><span style="font-weight: 900;">W</span> = White</li>
	</ul>
	<h3>Step 3</h3>
	<p>Submit your lighting design and share it on social!</p>
</div>