<div class="container">
	<h2>Users</h2>
	<table class="table">
		<thead>
			<tr>
				<th style="width: 33%;">Name</th>
				<th style="width: 33%;">Email</th>
				<th style="width: 33%;">Date</th>
				<th>Entries</th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
				<tr>
					<td><%= user.name %></td>
					<td><%= user.email %></td>
					<td><%= user.created_at.strftime('%d/%m/%Y') %></td>
					<td><%= user.entries.count %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<button class="btn btn-primary">Export</button>
</div>