<div class="container">
	<h2>Play the Light It Up! Fantasy DJ Game!</h2>
	<p>Enter for your chance to win a Grand Prize DJ Set valued at $4,500!</p>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<%= render 'form' %>
		</div>
	</div>
</div>