<div class="container">
	<h2>Play the Light It Up! Fantasy DJ Game!</h2>
	<p class="lead">Enter for your chance to win a Grand Prize DJ Set valued at $4,500!</p>
	<p>So you think you have the killer design chops to be a Lighting Designer? <strong>PROVE IT!</strong> Play the game to design your custom light show and share your creation.</p>
	<p>If your design is really sick, you may just win!</p>
	<p>Hey Aspiring DJs and lighting designers!  Design you very own light show to electronic music. Your lighting designs will be judged by DPS' in house design team and the winner will receive a DJ rig featuring Technics and Pioneer products worth $4500.</p>
	<h3>HOW IT WORKS</h3>
	<p>Designers will be judged on creativity, use of color, synchronization and overall showmanship.</p>
	<h3>CREAT IT & PROMOTE IT!</h3>
	<p>Show off your work to the world to get votes for your design. Will it go viral? Share and promote your final lighting design videos on your social networks by tagging @dpsinc, #dpswmc, #lightitup and #WMC2015.</p>
	<p>Participants can create their light show remotely on their own computer system or in person at the DPS booth on March 24th and 25th.  Entries must be received by noon, Wednesday March 25th 2015 with the winner chosen at the DPS, Inc. booth at the Deauville Beach Resort Hotel at 3pm that same day.</p>
	<p>Must be present at WMC 30 and the DPS booth to win.</p>
	<h2>Ready To Play?</h2>
	<p class="lead">Enter your name and email address to begin!</p>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4" style="background: #000; border-radius: 2px; padding: 15px;">
			<%= render 'form' %>
		</div>
	</div>
</div>