<div class="container">
	<h2>Light Up The Night!</h2>
	<p class="lead">Enter to win a DJ package worth $4,500!</p>
	<p>Put your lighting design skills to the test. Share your creation for a chance to win!</p>
	<%= link_to 'Play!', new_user_path, :class => 'btn btn-primary' %>
</div>