/*
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

@import url(http://fonts.googleapis.com/css?family=Roboto);

html, body{
	min-height: 100%;
}
body{
	background-attachment: fixed;
	background-image: image-url('background.jpg');
	background-position: center center;
	background-repeat: none;
	background-size: cover;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}

#screen{
	background-image: image-url('player.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
	position: relative;
	width: 100%;
}
	#screen img, #screen video{
		display: none;
		height: auto;
		position: absolute;
		width: 100%;
	}