/*
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

body{
	background: #000;
	color: #fff;
}
#screen{
	background-image: image-url('player-booth.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 1080px;
	margin: 0 auto;
	position: relative;
	width: 1920px;
}
	#screen img, #screen video{
		display: none;
		height: auto;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
.form-control{
	border-radius: 2px;
}
.btn{
	border-radius: 2px;
	font-weight: 900;
	text-transform: uppercase;
}
.progress{
	background-color: #000;
	border-radius: 2px;
	height: 10px;
	margin: 12px 0;
}
	.progress-bar{
		background-color: #fff;
	}

.red{
	filter: hue-rotate(290deg);
	-moz-filter: hue-rotate(290deg);
	-webkit-filter: hue-rotate(290deg);
}
.green{
	filter: hue-rotate(76deg);
	-moz-filter: hue-rotate(76deg);
	-webkit-filter: hue-rotate(76deg);
}
.blue{
	filter: hue-rotate(160deg);
	-moz-filter: hue-rotate(160deg);
	-webkit-filter: hue-rotate(160deg);
}

.modal-backdrop.in{
	opacity: 0.5;
}
.modal-content{
	background: rgba(0,0,0,0.5);
	border: solid 1px rgba(255,255,255,0.5);
	padding: 30px 15px;
	text-align: center;
}

.keys li{
	padding: 0;
}

#brand{
	left: 0;
	position: absolute;
	top: 15px;
	width: 100%;
	z-index: 10;
}
#control{
	bottom: 15px;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 10;
}